{% extends 'base.html.twig' %}

{% block title %}Landed{% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello bello! ✅</h1>
        Betöltött kódtárolók:
        <ul>
            {% for repo in repositories %}
                <li><code><a href="{{ path('overview-per-repo', {'repo': repo}) }}">{{ repo }}</a></code></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
