<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            const chart = new google.visualization.PieChart(document.getElementById('piechart'));
            let data = [];
            // {"Thu":4,"Wed":4,"Sun":19,"Tue":22,"Fri":25,"Mon":35,"Sat":58}
            let rawData = {{ contribPerWeekday|json_encode|raw }};

            // Header
            data.push(['Weekday', 'Number of commits'])

            // Struct data.
            for (let index in rawData) {
                if (rawData.hasOwnProperty(index)) {
                    data.push([index, rawData[index]]);
                }
            }

            google.visualization.events.addListener(chart, 'ready', function () {
                document.getElementById('img').innerHTML =
                    '<a href="' + chart.getImageURI()
                    + '"> <b>Open link in new TAB</b> <br />'
                    + chart.getImageURI()
                    + '</a>';
            });


            chart.draw(
                google.visualization.arrayToDataTable(data),
                {
                    title: '{{ reponame }}'
                }
            );
        }
    </script>
</head>
<body>
<div id="piechart" style="width: 900px; height: 500px;"></div>
<div id="img" style="word-wrap: break-word; width: 64%"></div>
</body>
</html>