<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {'packages': ['corechart']});

        google.charts.setOnLoadCallback(function () {
            const chart = new google.visualization.PieChart(document.getElementById('piechart'));
            let data = [];
            // {"Thu":4,"Wed":4,"Sun":19,"Tue":22,"Fri":25,"Mon":35,"Sat":58}
            let rawData = {{ contribPerWeekday|json_encode|raw }};

            // Header
            data.push(['Weekday', 'Number of commits'])

            // Struct data.
            for (let index in rawData) {
                if (rawData.hasOwnProperty(index)) {
                    data.push([index, rawData[index]]);
                }
            }

            chart.draw(
                google.visualization.arrayToDataTable(data),
                {
                    title: 'Number of commits per weekday'
                }
            );
        });

        google.charts.setOnLoadCallback(function () {
            const chart = new google.visualization.PieChart(document.getElementById('piechart2'));
            let data = [];
            // {"Thu":4,"Wed":4,"Sun":19,"Tue":22,"Fri":25,"Mon":35,"Sat":58}
            let rawData = {{ mostFrequentlyChangedFiles|json_encode|raw }};

            // Header
            data.push(['Weekday', 'Number of commits'])

            // Struct data.
            for (let index in rawData) {
                if (rawData.hasOwnProperty(index)) {
                    data.push([index, rawData[index]]);
                }
            }

            chart.draw(
                google.visualization.arrayToDataTable(data),
                {
                    title: 'Most frequently changed files'
                }
            );
        });

    </script>
</head>
<body>
<h1>{{ reponame }}</h1>
<div id="piechart" style="width: 900px; height: 500px;"></div>
<div id="piechart2" style="width: 900px; height: 500px;"></div>
</body>
</html>